@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

.poppins{
  font-family: "Poppins", sans-serif;
}

.short{
  background-image: url('./assets/bg-shorten-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}

.link{
  background-image: url('./assets/bg-boost-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}

.footerImage{
  filter: brightness(0) invert(1);
  
}

.social-icon:hover {
  filter: brightness(0) saturate(100%) invert(69%) sepia(55%) saturate(721%) hue-rotate(128deg);
}